[submodule "blog/_site"]
	path = blog/_site
	url = git@github.com:myuon/myuon.github.io.git
[submodule "blog/semantic-ui-css"]
	path = blog/semantic-ui-css
	url = https://github.com/Semantic-Org/Semantic-UI-CSS
[submodule "themes/muon/static/semantic-ui-css"]
	path = themes/muon/static/semantic-ui-css
	url = git@github.com:Semantic-Org/Semantic-UI-CSS.git
[submodule "public"]
	path = public
	url = git@github.com:myuon/myuon.github.io.git
	branch = master
