{{ define "main" }}
<h2>サイト説明</h2>

<p>(来訪者がじゃぶじゃぶ記事を閲覧したくなるような好奇心を煽りまくる説明文章)</p>

<h2>Article Tags</h2>

<div class="ui labels">
  {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
  <a class="ui label" href="/tags/{{ $name | urlize }}">{{ $name }} <span class="ui label basic circular">{{ len $taxonomy.Pages }}</span></a>
  {{ end }}
</div>


<h2>Posts</h2>

<ul>
  {{ range where .Data.Pages "Section" "posts" }}
  <li>
    <span class="date">{{ .Date.Format "2006-01-02" }}</span> - <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>

{{ end }}

