body {
    padding-bottom: 20px;
}

a {
    color: #d43d2c;
}

a:hover {
    color: #f45d4c;
}

code {
    padding: 0.1em 0.2em;
    word-wrap: normal;
    font-size: smaller;
    background-color: #fbf1c7;
    color: #333;
}

pre {
    background-color: #fbf1c7;
    padding: 1em;
    font-family: Consolas, "Courier New", Courier, Monaco, monospace;
    line-height: 1.4;
}

.container h1, .container h2, .container h3, .container h4, .container h5 {
    margin: 1rem 0 0.75rem 0;
}

/***/

header {
    width: 100%;
    background-color: #a1dbb2;
    padding: 20px 0;
    border-bottom: 5px solid #fee5ad;
}

header h2.header a {
    color: #333;
}

header h2.header a:hover {
    color: #555;
}

header a, header .ui.list>a.item {
    color: #46626d;
    font-weight: bold;
}

header a:hover, header .ui.list>a.item:hover {
    color: #16323d;
}

header img.icon {
    border: 2px solid #ced;
}

header nav .divider {
    color: #666;
    margin: 5px;
}

body > div.container {
    padding-top: 2rem;
}

body > div.container h1 {
    display: table;
    border-bottom: 4px solid #faca66;
}

body > div.container h2 {
    display: table;
    border-bottom: 3px solid #f7a541;
}

body > div.container h3 {
    display: table;
    border-bottom: 2px solid #f45d4c;
}

body > div.container h1::before {
    content: "\f105";
    font-family: Icons;
    margin-right: 0.25em;
}

body > div.container h2::before {
    content: "\f101";
    font-family: Icons;
    margin-right: 0.25em;
}

body > div.container h3::before {
    content: "\f138";
    font-family: Icons;
    margin-right: 0.25em;
}

footer {
}

article .disqus-area {
    margin-top: 1.5rem;
}


