<!-- ignore empty links with + -->
{{ $headers := findRE "<h[1-6].*?>(.|\n])+?</h[1-6]>" .Content }}
<!-- at least one header to link to -->
{{ $has_headers := ge (len $headers) 1 }}
<!-- a post can explicitly disable Table of Contents with toc: false -->
{{ $show_toc := (eq $.Params.toc true) }}
{{ if and $has_headers $show_toc }}
<div class="table-of-contents toc bd-callout">
    <!-- TOC header -->
    <h4 class="text-muted">Table of Contents</h4>

    <ul>
    {{ range $headers }}
        {{ $header := . }}
        {{ range first 1 (findRE "<h[1-6]" $header 1) }}
            {{ range findRE "[1-6]" . 1 }}
                {{ $next_heading := (int .) }}

                {{ range seq $next_heading }}
		{{ if eq $next_heading 1 }}
		{{ else }}
<!--                <div class="list toc-h{{ . }}"> -->
		{{ end }}
                {{end}}

                {{ $base := ($.Page.File.LogicalName) }}
                {{ $anchorId := ($header | plainify | htmlEscape | urlize) }}
                {{ $href := delimit (slice $base $anchorId) "#" | string }}
                  <li style="margin-left: {{ mul (sub $next_heading 1) 20 }}px"><a class="item" href="{{ relref $.Page $href }}">{{ $header | plainify | htmlEscape }}</a></li>

                {{ range seq $next_heading }}
		{{ if eq $next_heading 1 }}
		{{ else }}
<!--                </div> -->
		{{ end }}
                {{end}}
            {{end}}
        {{end}}
    {{ end }}
    </ul>
</div>
{{ end }}
