{{ define "title" }}
{{ .Title }} - {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<article>
  <section class="article-header">
    <div class="article-info">
      <div class="item"><span class="ui label basic date">{{ .Date.Format "2006-01-02" }}</span></div>
      {{ with .Params.tags }}
        {{ range . }}<div class="item"><a class="ui label tag-item" href="/tags/{{ lower . }}/">#{{ . }}</a></div>{{ end }}
      {{ end }}
    </div>

    <div class="article-info">
      <div class="item">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="{{ .Title }} - {{ .Site.Title }}" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="item">
        <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-counter" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
      </div>
      <div class="item">
        <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a><script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
      </div>
    </div>
  </section>
  <aside>
    {{ .TableOfContents }}
    {{ partial "toc" . }}
  </aside>
  <section class="content">
    {{ .Content }}
  </section>
</article>
{{ end }}

{{ define "comment-area" }}
<section class="disqus-area">
  <div id="disqus_thread"></div>
  <script>

   /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
   /*
      var disqus_config = function () {
      this.page.url = https://myuon.github.io$url$;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = $filepath_id$; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
    */
   (function() { // DON'T EDIT BELOW THIS LINE
       var d = document, s = d.createElement('script');
       s.src = 'https://the-curse-of-lambda.disqus.com/embed.js';
       s.setAttribute('data-timestamp', +new Date());
       (d.head || d.body).appendChild(s);
   })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
{{ end }}

